<section>
  <div class="row">
    <div class="col-md-9">

      <button class="btn btn-sm btn-success" (click)="onRefresh()">
        Refresh Cv Record
      </button>

      <button class="btn btn-sm btn-info" (click)="exportExcel()">
        Download CV Data
      </button>

      <button class="btn btn-sm btn-warning" *ngIf="rowSelected" (click)="editCv()">
        Update Cv Record
      </button>

      
      <button class="btn btn-sm btn-danger" *ngIf="rowSelected" (click)="deleteCv()">
        Delete Cv Record
      </button>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <ag-grid-angular
    style="width: 620px; height: 100%"
    class="ag-theme-balham-dark"
    style="width: 100%; height: 700px"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    rowSelection="single"
    (gridReady)="onGridReady($event)"
    (rowClicked)="onRowClicked()"
  >
  </ag-grid-angular>
</section>
