@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');
:root {
    --purple: #814096;
    --pink: #F83292;
    --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}

body,
html {
    height: 100%;
    margin: 0;
}

.home {
    background-image: url(../../assets/Images/BackgroundAdmin.png);
    height: 668pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.content h3 {
    text-align: center;
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
}

.content h3 span {
    font-size: 3rem;
    color: var(--pink);
    text-transform: uppercase;
}

.content h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--pink);
    text-transform: uppercase;
}

.content h2 span {
    font-size: 2rem;
    color: var(--purple);
    text-transform: lowercase;
    text-decoration: underline;
}

.content p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.Team .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Team .box-container .box {
    flex: 1 1 20rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.Team .box-container .box img {
    height: 15rem;
}

.Team .box-container .box h3 {
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.Team .box-container .box p {
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}

.LoadImg {
    background-image: url(../../assets/Images/LoadingBar.png);
    width: 200pt;
    height: 200pt;
    background-size: contain;
    margin: auto;
    padding: 20%;
}